<% provide(:title, 'Edit') %>
<h1>Edit the <%= @team.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :opp_week_1, 'Week 1 Opponent' %>
      <%= f.collection_select :opp_week_1, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_1, 'Home?' %>
      <%= f.check_box :home_week_1 %>

      <%= f.label :opp_week_2, 'Week 2 Opponent' %>
      <%= f.collection_select :opp_week_2, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_2, 'Home?' %>
      <%= f.check_box :home_week_2 %>

      <%= f.label :opp_week_3, 'Week 3 Opponent' %>
      <%= f.collection_select :opp_week_3, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_3, 'Home?' %>
      <%= f.check_box :home_week_3 %>

      <%= f.label :opp_week_4, 'Week 4 Opponent' %>
      <%= f.collection_select :opp_week_4, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_4, 'Home?' %>
      <%= f.check_box :home_week_4 %>

      <%= f.label :opp_week_5, 'Week 5 Opponent' %>
      <%= f.collection_select :opp_week_5, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_5, 'Home?' %>
      <%= f.check_box :home_week_5 %>

      <%= f.label :opp_week_6, 'Week 6 Opponent' %>
      <%= f.collection_select :opp_week_6, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_6, 'Home?' %>
      <%= f.check_box :home_week_6 %>

      <%= f.label :opp_week_7, 'Week 7 Opponent' %>
      <%= f.collection_select :opp_week_7, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_7, 'Home?' %>
      <%= f.check_box :home_week_7 %>

      <%= f.label :opp_week_8, 'Week 8 Opponent' %>
      <%= f.collection_select :opp_week_8, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_8, 'Home?' %>
      <%= f.check_box :home_week_8 %>

      <%= f.label :opp_week_9, 'Week 9 Opponent' %>
      <%= f.collection_select :opp_week_9, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_9, 'Home?' %>
      <%= f.check_box :home_week_9 %>

      <%= f.label :opp_week_10, 'Week 10 Opponent' %>
      <%= f.collection_select :opp_week_10, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_10, 'Home?' %>
      <%= f.check_box :home_week_10 %>

      <%= f.label :opp_week_11, 'Week 11 Opponent' %>
      <%= f.collection_select :opp_week_11, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_11, 'Home?' %>
      <%= f.check_box :home_week_11 %>

      <%= f.label :opp_week_12, 'Week 12 Opponent' %>
      <%= f.collection_select :opp_week_12, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_12, 'Home?' %>
      <%= f.check_box :home_week_12 %>

      <%= f.label :opp_week_13, 'Week 13 Opponent' %>
      <%= f.collection_select :opp_week_13, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_13, 'Home?' %>
      <%= f.check_box :home_week_13 %>

      <%= f.label :opp_week_14, 'Week 14 Opponent' %>
      <%= f.collection_select :opp_week_14, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_14, 'Home?' %>
      <%= f.check_box :home_week_14 %>

      <%= f.label :opp_week_15, 'Week 15 Opponent' %>
      <%= f.collection_select :opp_week_15, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_15, 'Home?' %>
      <%= f.check_box :home_week_15 %>

      <%= f.label :opp_week_16, 'Week 16 Opponent' %>
      <%= f.collection_select :opp_week_16, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_16, 'Home?' %>
      <%= f.check_box :home_week_16 %>

      <%= f.label :opp_week_17, 'Week 17 Opponent' %>
      <%= f.collection_select :opp_week_17, Team.all, :id, :name, {}, { :multiple => false } %>

      <%= f.label :home_week_17, 'Home?' %>
      <%= f.check_box :home_week_17 %>

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>