<% provide(:title, @team.name) %>
<h1> <%= @team.location %> <%= @team.name %></h1>

<div class="row">
	<ul class="users">
		<% (1..17).each do |wk| %>
			<li>
				<%= "Week #{wk}:" %>				
				<% if Team.exists?(id: @team.send("opp_week_#{wk}")) %>
					<% if Team.find(@team.send("opp_week_#{wk}")).send("home_week_#{wk}") == false %>
						@
					<% end %>
					<%= link_to Team.find(@team.send("opp_week_#{wk}")).name, Team.find(@team.send("opp_week_#{wk}"))%>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
</br>
<div class="row">
	<%= link_to 'Edit this Team', edit_team_path(@team) %>
</div>