<div id="home-header" class="center hero-unit" data-votable="true">
  <h1>Who Would You Start?</h1>
  <% if @matchup.nil? %>
  	<h3>Error: No Matchups Available in Database</h3>
  <% else %>
  	<%= render 'matchups/fullmatchup' %>
  <% end %>
</div>

<div class="center hero-unit">
	<h1>Find a Matchup</h1>
	</br>
	<%= form_tag('/findMatchup', method: :get) do %>
		<div class="row">
	  	<div class="span11 center searchFieldContainer">
		  	<div class="span3">
		    	<%= collection_select :matchup, :player_1, Player.all, :id, :last_name, {}, { :multiple => false, class: "matchupSearchField", id: "player_1_search_field" } %>
		    </div>
		    <div class="span3">
			    <h2>VS</h2>
			  </div>
			  <div class="span3">
		    	<%= collection_select :matchup, :player_2, Player.all, :id, :last_name, {}, { :multiple => false, class: "matchupSearchField", id: "player_2_search_field" } %>
		    </div>
		  </div>
		</div>
	  <div class="row">
	  	<%= submit_tag "View Matchup", class: "btn" %>
	  </div>
	<% end %>
</div>
<% if @user.nil? %>
<% else %>
	<h5>Signed in as: <%= @user.name %></h5>
<% end %>
<% if false %>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>