<div class="center hero-unit">
  <h1>Who Would You Start?</h1>

  <%= render 'matchups/fullmatchup' %>

</div>
<div class="center hero-unit">
	<%= form_tag matchups_path, method: :get do %>
    
    <div class="row">
      <%= label_tag(:player_1, "Select a player:") %>
      <%= collection_select :player_1, Player.all, :id, :last_name, {}, { :multiple => false, class: "matchupSearchField" } %>

      <h2>VS</h2>
      <% if false %>
      <%= f.label :player_2 %>
      <%= f.collection_select :player_2, Player.all, :id, :last_name, {}, { :multiple => false, class: "matchupSearchField" } %>      
    </div>
    	<% end %>

    <%= submit_tag "Update Matchup", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>