<tr>
  <td><%= link_to "#{Player.find(matchup.player_1).full_name}", matchup %> (<%= matchup.send("pts_player_1_week_#{current_week}") %>)</td>
  <td><%= link_to Player.find(matchup.player_2).full_name, matchup %> (<%= matchup.send("pts_player_1_week_#{current_week}") %>)</td>
  <% if current_user && current_user.admin? %>
    <td><%= link_to "edit", edit_matchup_path(matchup) %></td>
    <td><%= link_to "delete", matchup, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  <% end %>
</tr>
