<% provide(:title, 'All Matchups') %>
<div id="matchup-header">
	<h1>All Matchups</h1>
	<h4>Total Votes: <%= @this_weeks_votes %></h4>
</div>
<div class="row">
	<%= will_paginate %>

	<table id="players-table" class="table">
		<thead>
			<tr>
				<th>Player 1</th>
				<th>Player 2</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	  	<%= render @matchups %>
	  </tbody>
	</table>

	<%= will_paginate %>
</div>
</br>
<div class="row">
	<%= link_to 'Add a Matchup', new_matchup_path, class: 'btn'%>
</div>