<div class="center hero-unit">
	<h1> <%= link_to @player1.last_name, @player1, class: 'showplayername' %> vs. <%= link_to @player2.last_name, @player2, class: 'showplayername' %></h1>
	</br>
  <%= render 'fullmatchup' %>
</div>
<div class="center hero-unit">
	<table class="table" id="matchup-history">
		<thead>
			<tr>
				<th></th>
				<th><%= "#{@player1.first_name} #{@player1.last_name}" %></th>
				<th><%= "#{@player2.first_name} #{@player2.last_name}" %></th>
			</tr>
		</thead>
		<tbody>
			<% (1..17).each do |week| %>
				<tr>
					<th>Week <%= week %></th>
					<td><%= @matchup.send("pts_player_1_week_#{week}") %></td>
					<td><%= @matchup.send("pts_player_2_week_#{week}") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>



<div class="row">
	<% if current_user && current_user.admin %><%= link_to 'Edit Matchup', edit_matchup_path(@matchup) %><% end %>
</div>