<% provide(:title, 'Edit') %>
<h1>Edit <%= @player.first_name %> <%= @player.last_name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@player) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :team %>
      <% if false %>
        <% unless @team.nil? %>
          <%= f.text_field :team, value: @team.name %>
        <% else %>
          <%= f.text_field :team %>
        <% end %>
      <% end %>
      <%= f.collection_select :team_id, Team.all, :id, :name, {}, { :multiple => false, :include_blank => true } %>


      <%= f.label :position %>
      <%= f.text_field :position %>

      </br>
      <%= f.label :injured, 'Injured?' %>
      <%= f.check_box :injured %>  
      </br></br>   

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>