<% provide(:title, 'All Players') %>
<h1>All Players</h1>

<div class="row">
	<%= will_paginate %>

	<table class="table">
			<thead>
				<tr>
					<th>Player</th>
					<th>This Week's Score</th>
				</tr>
			</thead>
	  	<tbody>
	  		<% if false %>
	  			<%= render @players.sort_by &"pts_week_#{current_week}".to_sym %>
	  		<% end %>
	  		<%= render @players.sort_by { |p| [p.scored_vote(current_week), p.last_name] } %>
	  	</tbody>
	</table>
	<%= will_paginate %>
</div>
</br>
<div class="row">
	<%= link_to 'Add a Player', new_player_path, class: 'btn'%>
</div>