<% provide(:title, 'New Player') %>
<h1>New Player</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@player) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :position %>
      <%= f.text_field :position %>

      <%= f.label :team %>
      <% unless @team.nil? %>
        <%= f.text_field :team, value: @team.name %>
      <% else %>
        <%= f.text_field :team %>
      <% end %>

      <%= f.submit "Add a Player", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>