<% provide(:title, @player.last_name) %>
<h1 class=""> <%= @player.first_name %> <%= @player.last_name %></h1>
<% if @player.injured == true %>
	<h5 id="injured-status">Currently injured.</h5>
<% end %>
<div id="player-show-image" class="pimage">
		<%= image_tag("#{@player.first_name}_#{@player.last_name}.jpg", alt: "#{@player.first_name}_#{@player.last_name}", class: "show-player-pic") %>
</div>
</br>
<div class="row">
	<h4 id="player-show-subtitle">Team:			<% if @player.team != nil%><%= @player.team.name %><% end %> | Position: 	<%= @player.position %></h4>
	
	<div id="edit-player-link" class="row">
		<% if current_user && current_user.admin? %>
			<%= link_to 'Edit This Player', edit_player_path(@player) %>
			</br>
			<%= link_to 'Add Matchups For Player', addmatchups_path %>
		<% end %>
	</div>
	<!-- <p id="player-show-total-points">Total Points: <%= @player.pts_week_1 %></p> -->
</div>
</br>
<div class="row">
	<!-- <h3>Schedule</h3> -->
	<table class="table" id="matchup-history">
		<thead>
			<tr>
				<th></th>
				<th>Opponent</th>
				<!-- <th>Weekly Points</th> -->
			</tr>
		</thead>
		<tbody>
			<% (1..17).each do |week| %>
				<tr>
					<td>Week <%= week %></td>
					<td><% if Team.exists?(id: @player.team.send("opp_week_#{week}")) %><%= Team.find(@player.team.send("opp_week_#{week}")).name %><% end %></td>
					<% if false %><td><%= @player.send("pts_week_#{week}") %></td><% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</br>