<% provide(:title, @player.last_name) %>
<h1 class=""> <%= @player.first_name %> <%= @player.last_name %></h1>
<div id="player-show-image" class="pimage">
		<%= image_tag("#{@player.first_name}_#{@player.last_name}.jpg", alt: "#{@player.first_name}_#{@player.last_name}", class: "show-player-pic") %>
	</div>
<div class="row">
	<h4>Team:			<% if @player.team != nil%><%= @player.team.name %><% end %></h4>
	<h4>Position: 	<%= @player.position %></h4>
	<p>Total Points: <%= @player.pts_week_1 %></p>
</div>
</br>
<div class="row">
	<!-- <h3>Schedule</h3> -->
	<table class="table" id="matchup-history">
		<thead>
			<tr>
				<th></th>
				<th>Opponent</th>
				<th>Weekly Points</th>
			</tr>
		</thead>
		<tbody>
			<% (1..17).each do |week| %>
				<tr>
					<td>Week <%= week %></td>
					<td><% if Team.exists?(id: @player.team.send("opp_week_#{week}")) %><%= Team.find(@player.team.send("opp_week_#{week}")).name %><% end %></td>
					<td><%= @player.send("pts_week_#{week}") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</br>
<div class="row">
	<%= link_to 'Edit', edit_player_path(@player) %>
</div>